@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 8%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1c1c1c;
}

.logo img {
  width: 30px;
}

.navlinks {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navlinks li {
  display: flex;
  padding: 0px 30px;
}

.navlinks li a {
  font-size: 12px;
  color: #d3dad9;
}

.menu-icon {
  font-size: 25px;
  margin-left: auto;
  display: none;
  color: #d3dad9;
}

/* header */

header {
  width: 100%;
  min-height: 85vh;
  background: url(/assets/img/phone4.jpg) center/cover no-repeat;
  margin-top: 70px;
}

.hcontainer {
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.ht {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: white;
}

.ht h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.ht h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

.ht p {
  font-size: 1.3rem;
  color: #eaf2f1;
}

.ht a {
  color: white;
  background-color: #0d92f4;
  padding: 15px 25px;
  border-radius: 30px;
  margin-top: 15px;
  font-size: 1.3rem;
}

/* main  */
main {
  width: 100%;
  min-height: 85vh;
  background: url(/assets/img/phone6.jpg) center/cover no-repeat;
  margin-top: 12px;
}

.header3 {
  width: 100%;
  min-height: 85vh;
  background: url(/assets/img/phone3.jpg) center/cover no-repeat;
  margin-top: 12px;
}

/* galleri */

.galleri {
  width: 100%;
  padding: 10px;
}

.containergalleri {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.herog {
  position: relative;
  overflow: hidden;
}

.herog img {
  width: 100%;
  height: 640px;
  object-fit: cover;
  display: block;
}

/* Teks overlay */
.herog .ht {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
}

.herog .ht a {
  transition: background 0.3s;
}

.herog .ht a:hover {
  background: #0071e3;
}

/* swiper */
.swiper {
  width: 100%;
  height: 50vh;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark-img {
  filter: brightness(80%); /* semakin kecil semakin gelap */
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
  max-width: 500px;
}

.caption h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.caption p {
  font-size: 1rem;
  margin: 10px 0;
}

.caption a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.swiper .swiper-pagination-bullet {
  background: #999 !important;
  opacity: 0.7 !important;
}

.swiper .swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1 !important;
}

/* footer  */
.footer {
  background-color: #f5f5f7;
  color: #333;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.footer-text {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-text P {
  padding: 5px 0;
}

.footer-container {
  padding-top: 20px;
  border-top: 1px solid #ddd;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 6px;
}

.footer-column ul li a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 15px;
  max-width: 1200px;
  font-size: 12px;
  color: #666;
}

.footer-bottom a {
  color: #666;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .navigation {
    padding: 0 3rem;
    justify-content: space-between;
  }

  nav .navlinks {
    position: absolute;
    align-items: first baseline;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    overflow: hidden;
    background-color: #1c1c1c;
    transition: all 0.6s ease 0s;
  }

  /* .logo{
    display: none;
  }
   */
  .navlinks li {
    padding: 10px 50px;
  }

  .navlinks li a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #d3dad9;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .containergalleri {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-bottom p {
    flex: unset;
    width: 100%;
  }

  .ht h1 {
    font-size: 2rem;
    letter-spacing: 1px;
  }

  .ht h4 {
    font-size: 1rem;
    font-weight: 300;
  }

  .ht p {
    font-size: 0.8rem;
    color: #eaf2f1;
  }

  .ht a {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .caption h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .caption p {
    font-size: 0.8rem;
    margin: 10px 0;
  }

  .caption a {
    font-size: 0.7rem;
    padding: 5px 15px;
  }

  .caption {
    left: 20px;
  }
}
